# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
config/*.env

# Process ids / locks
pids/
*.pid
*.seed
*.pid.lock

# Coverage / test output
coverage/
.nyc_output/

# Build artifacts
build/
dist/
.out/
.tmp/
temp/

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Uploads and runtime storage
uploads/

# TypeScript
*.tsbuildinfo

# Docker
.docker/
*.tar

# Misc
.cache/
*.tgz
